* {
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    padding-top: 52px;
    background: #fff;
}

.header .body {
    display: flex;
    align-items: center;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    color: #2f3a3b;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

.navbar ul li {
    margin-right: 39px;
}
.navbar ul {
    display: flex;
}

.action a {
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}
.action {
    margin-left: auto;
}

.action .btn {
    text-decoration: none;
    border: none;
    display: inline-block;
}

.action .sign-up {
    color: #1ebfc1;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
    min-width: 108px;
    line-height: 48px;
    border-radius: 6px;
    border: 1px #1ebfc1 solid;
}
.action .sign-up:hover {
    opacity: 0.9;
    color: white;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}
.action .sign-up {
    margin-left: 24px;
}
